#container{
    display: grid;
    height: 100vh; 
    grid-template-rows: auto 1fr auto;
}
.wrapper{
    padding: 40px;
     /* width: 100%; */ */
    margin: 0 auto;
    background-color: bisque;
}
header{
    text-align: center;
    font-size: 2em;
}

header img{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

/* main{ */
    /* background-color:  */
/* } */
main .items{
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}
main .items:nth-child(even){
    flex-direction: row-reverse;
}
main .item{
    width: 500px;
}
main .item img{
    width: 100%;
}
main .item h2{
    letter-spacing: 4px;
    font-size: 1em;
    margin-bottom: 20px;
}
main .item p{
    letter-spacing: 2px;
    margin-bottom: 20px;
}
main .items a{
    color: blueviolet;
    text-decoration: none;
    letter-spacing: 2px;
}
main .items a::after{
    content: ">";
    padding-left: 10px;
}


